body {
  margin: 0;
  background: #000;
  overflow-x: hidden;
  width:100%;
  font-family: 'Lato'!important;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes arrows {
  0% { top:0; }
  10% { top:12%; }
  20% { top:0; }
  30% { top:12%; }
  40% { top:-12%; }
  50% { top:12%; }
  60% { top:0; }
  70% { top:12%; }
  80% { top:-12%; }
  90% { top:12%; }
  100% { top:0; }
}
.clearfix h3{
  text-align: center;
}
.animated{
  animation-delay: 0s;
}
/* footer */
footer{
  position: relative;
  bottom: 0;
  margin-top: 0px!important;
}

@media (max-height:800px){
  footer { position: static; }
  header { padding-top:40px; }
}

/* od css za footer-distributed */
.footer-distributed{
  position: relative;
  background-color: #060606;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: bold 16px sans-serif;
  padding: 30px;
  margin-top: 30px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center{
  display: inline-block;
  vertical-align: top;
  
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
  text-align: left;
}

/* The company logo */

.footer-distributed h3{
  color:  #00354b;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #00354b;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 40%;
  text-align: right;
}

.footer-distributed .footer-center i{
  background-color:  #060606;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  white;
  text-decoration: none;;
}
.slikaLogo img{
  height:50%;
  width: 30%;
  margin-top: 12px;
}
@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
/* style for contact us page */
.send-email-info-message {
    margin-top: 200px !important;
    margin-bottom: 196px !important;
    margin-left: 68px !important;
    color: white!important;
}

.fs-numbers {
  
}
/* Navbar */
a.navbar-brand {
    color: hsl(0, 0%, 100%) !important;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.navbar-brand img{
            float: left;
            height: 200%;
            width: auto;
            margin-top: -12px;
}
.navbar {
        background-color: black;
        font-weight: 300;
        font-size: 18px;
        border-width: 0px;
		opacity: 0.7;
      }

    .navbar-nav {
        width: 100%;
        text-align: right;
        margin-top: -45px;
    }
    .navbar-inner > .container {
      width:100%!important;
    }

      .container-fluid{
      padding-right: 0!important; 
      padding-left: 0!important; 
      margin-right: 0!important;
      margin-left: 0!important;
      }
      .navbar-brand img {
            float: left;
            height: 150%;
            width: auto;
            margin-top: -7px;
        }
      .test img{
        float: left;
        height:50%;
        width: 25%;
        margin-top: 12px;
      }
        

    ul.nav a {
        color: white !important;
    }

        ul.nav a:hover {
            color: white !important;
        }

    .navbar-nav > li {
        float: none;
        display: inline-block;
        padding-right: 0.5vw;
        padding-left: 0.5vw;
        margin-top: -5px;
    }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; width: 100%; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: black !important; }
.navbar.navbar-inverse .nav-collapse { background-color: black !important; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li {  }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {

       .navbar-nav {
        width: 100%;
        text-align: center;
        margin-top: 0px;
        padding-left: 60px;
    }
    .navbar-inner > .container {
      width:100%!important;
    }


      .navbar-brand img {
           visibility: hidden;
        }
      .test img{
        visibility: hidden;
      }

    .navbar-nav > li {
        float: none;
        display: list-item;
        padding-right: 0.5vw;
        padding-left: 0.5vw;
        margin-top: -5px;
    }
    .arrow{
      visibility: hidden;
    }
    .arrow-wrap{
      visibility: hidden;
    }
    .info{
      height: 100%!important;
    }
}
/* do ovde navbar */

/* delot za kopceto na home */
#comming{
  position: relative;
  text-align:center;
  height:30vh;
  padding: 5%;
}
#comming h2{
  font-size:1.7em;
}
#comming button{
  background-color: transparent;
  border-width:1px;
  border-color:white;
}
#comming button:hover{
  background-color: rgb(50, 53, 53);
  border-color:rgb(50, 53, 53);
}
#comming a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: .4rem;
  transition: .6s background; 
}
#comming a:hover{
  color:white;
  box-shadow: none;
}
#comming a:active{
  color:#eee;
}
#comming a:focus{
  color:#eee;
}

/* style za carousel-ot na home */

a { outline:0;
  transition:all .5s linear;
  -webkit-transition:all .5s linear;
  -moz-transition:all .5s linear;
  text-decoration:none;
}
.carousel-inner{
  text-align: center;
  height: 70vh;
  width: 100%;
}
.carousel-inner img{
  height: 100%;
  width: 100%;
  margin-top: -10%;
}
@media screen and (max-width: 1200px){
  .carousel-inner img{
    margin-top: 0;
  }
  #comming h2{
  font-size:1.4em;
}
}
.rel {
  position:relative;
}
.top {
  padding:0 !important;
}
.carousel-indicators li {
  background-color:#ccc;
  bottom:40px;
}
.carousel-indicators .active {
  background-color:#333;
}
/* do ovde od style.css */




/* tekstovite na sliderot vo home */
.home1 {
  margin-top: 50px;
  background: url('../images/render 2.jpg') no-repeat center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.home2, .home3, .home4 {
  margin-top: 50px;
  background: url('../images/img_0355.jpg') no-repeat center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.text-up {
  height: 100%;
  padding-top: 100px;
  animation-delay: 1s;
}

.text-down {
  height: 100%;
  padding-top: 350px;
  animation-delay: 2.5s;
}

.text-up h1 {
  color: white;
}

#zaMali {
  color: white;
}

@media screen and (min-width: 1200px) {
  .text-up, .text-down {
    font-size: 20px;
  }
  .text-up h3, .text-down h3 {
    font-size: 30px;
  }
  .text-up h1 {
    font-size: 50px;
    padding-top: 20px;
  }
  #zaMali {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .carousel-inner > .row > .col-md-6 {
    width: 50%;
    height: 50%;
  }
  .text-down {
    float: right;
    padding-top: 0px;
  }
  .text-up h1 {
    padding-top: 10px;
  }
  #zaMali {
    padding-top: 0px;
  }
}

/* kraj na tekstovite na sliderot vo home */

.row {
  margin: 0;
}

/* buttons za software i hardware */

.slika{
 text-align: center;
}
.slika h4,h5,h6{
 margin-top: 3%;
 color: #eee;
}
.slika img{
 
 max-height: 300px;
 max-width: 300px;
}
.nothing{
 text-decoration: none;
}
.nothing:hover{
 text-decoration: none;
}
.nothing:active{
 text-decoration: none;
}
.info{
 height: 30vh;
}

@media screen and (max-width: 991px) {
  .info{
    height: 100%!important;
  }
}

/* kraj na buttons za software i hardware */

/* krienje na tekstovite na sliderot na mali ekrani */

@media screen and (max-width: 412px) {
  .carousel-inner p {
    visibility: hidden;
  }
}

@media screen and (max-height: 640px) {
  .carousel-inner p {
    visibility: hidden;
  }
}

/* kraj na krienje na tekstovite na sliderot na mali ekrani */
